.contact {
    padding: 6.25rem 1.25rem;
}

textarea,
input {
    width: 100%;
    padding: 0.87rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    border: 1px solid #f0c9ff;
    border-radius: 5px;
    padding-left: 1.12rem;
    font-size: 13px;
    background: transparent;
    color: #495057;
}

textarea:focus,
input:focus {
    outline: 0;
}

.half-row {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.contact__firstname {
    padding-right: 0.94rem;
}

.contact__email {
    padding-left: 0.94rem;
}

.contact__send {
    margin-top: 1.875rem;
}