/* Main section */

.main-banner {
    background: url("../images/main-banner.png");
    background-position: center;
    background-size: cover;
    min-height: 890px;
}

.main-section {
    padding: 7.5rem 1.87rem;
}

.main-section>div {
    width: 50%;
    float: left;
}

.main-section__image {
    text-align: right;
}

.main-section__welcome {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    letter-spacing: 2px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 1.25rem;
    font-size: 3.75rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    color: #05364E
}

.main-section__position {
    color: #05364E;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
}

.main-section__social-networks a {
    color: #8FA1AA;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}

.main-section__social-networks a:hover i {
    color: #1C44E4;
}

.main-section__action {
    margin-top: 1.87rem;
}


/* Statistics section */

.statistics {
    padding-top: 6.25rem;
}

.statistics__item {
    display: inline-block;
    width: 150px;
    background-color: #F8FAFF;
    text-align: center;
    padding: 0.32rem 0.625rem;
    margin-right: 1.25rem;
}

.statistics__number {
    font-size: 1.69rem;
    margin-bottom: 0.32rem;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics__title {
    font-size: 1rem;
    color: #797979;
    font-weight: 300;
}


/* About me section */

.about-me {
    padding: 6.25rem 0;
}

.about-me>div {
    width: 50%;
    float: left;
}

.about-me__image img {
    width: 90%;
}

.about-me__description {
    font-size: 0.87rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.69rem;
}

.about-me__action {
    margin-top: 2.5rem;
}


/* Services section styles */

.services {
    padding-top: 6.25rem;
}

.service-card {
    display: inline-block;
    width: 30%;
    padding: 3.75rem 1.87rem;
    background-color: #F8FAFF;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
}

.service-card__title {
    color: #05364D;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

.service-card__description {
    font-size: 0.87rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #797979
}

.service-card__link {
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364D;
    text-decoration: none;
}

.service-card:hover {
    background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description,
.service-card:hover .service-card__link {
    color: #FFFFFF;
}


/* Clients section styles */

.clients {
    padding-top: 6.25rem;
}

.client-item>div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.client-item__image img {
    width: 100%;
}

.client-item__info {
    padding-top: 3.12rem;
    padding-left: 3.12rem;
}

.client-item__name {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.client-item__position {
    font-size: 0.87rem;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__review {
    font-size: 0.87rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__rate {
    color: #FFD805;
}

.besh {
    color: #ced6c0;
}


/* portfolio section styles */

.portfolio {
    padding: 6.25rem 0;
}

.portfolio-filters {
    list-style: none;
    padding-left: 0px;
    margin-top: 3.125rem;
}

.portfolio-filters li {
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 0.81rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.portfolio-filters li:hover,
.portfolio-filters li.active {
    color: #1345e6;
}

.portfolio-items {
    position: relative;
    margin-top: 3.125rem;
}

.portfolio-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 0.625rem;
    box-sizing: border-box;
}

.portfolio-item-1 {
    padding-left: 0px;
}

.portfolio-item-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio-item-3 {
    position: absolute;
    top: 322px;
    right: 0;
}

.portfolio-item__image {
    width: 100%;
}

.portfolio-item__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(19, 69, 230, 0.9);
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info a {
    text-decoration: none;
    color: white;
}

.portfolio-item:hover .portfolio-item__overlay {
    visibility: visible;
    top: 20px;
    left: 20px;
}

.portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    color: white;
}


/*Blog section styles */

.blog {
    padding-top: 6.25rem;
}

.blog-item {
    margin-top: 3.125rem;
}

.blog-item {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}

.blog-item:hover {
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.blog-item:hover .blog-item__info {
    background-color: white;
}

.blog-item__info {
    background-color: #f8faff;
    padding: 1.87rem;
    color: #797979;
}

.blog-item__image {
    overflow: hidden;
}

.bolg-item__image img {
    width: 100%;
}

.blog-item__main__info span {
    font-size: 0.87rem;
    margin-right: 1.87rem;
    font-weight: lighter;
}

.blog-item__info i {
    margin-right: 0.31rem;
}

.blog-item__title {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.94rem;
    color: #05364d;
    font-weight: 700;
}

.blog-item__description {
    line-height: 1.68rem;
    font-weight: lighter;
    font-size: 0.94rem;
}

.blog-item__learn-more {
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #35364d;
    cursor: pointer;
}

.blog-item__learn-more:hover {
    color: #ed239f
}


/* partners section styles */

.partners {
    padding-top: 6.25rem;
}

.partner {
    display: inline-block;
    padding: 0 1.125rem;
}

@media only screen and (max-width: 991px) {
    /* Main section */
    .main-section__image {
        display: none;
    }
    .main-section>div {
        width: 100%;
    }
    /* statistics */
    .statistics {
        padding-top: 1rem;
        text-align: center;
    }
    /* about my section */
    .about-me {
        padding: 1.5em;
    }
    .about-me>div {
        width: 100%;
    }
    .about-me__image {
        display: none;
    }
    /* services */
    .services {
        padding: 1.5rem 0;
    }
    .service-card {
        width: 45%;
        margin-bottom: 20px;
    }
    /* Clents */
    .clients {
        padding: 1.5rem 0;
    }
    .client-item>div {
        width: 100%;
        float: none;
    }
    /* blog */
    .blog {
        padding: 1.5rem 0;
    }
    .blog-item {
        width: 45%;
        margin-bottom: 20px;
    }
    /* partner */
    .partners {
        padding: 1.5rem;
    }
    .partner {
        display: block;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    /* Main section */
    .main-banner {
        background: none;
        min-height: auto;
    }
    .main-section__action {
        display: none;
    }
    .main-section__introduction {
        font-size: 3rem;
    }
    /*Statistics */
    .statistics__item {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        box-sizing: border-box;
    }
    /*  Sarvices section*/
    .service-card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    /* portfolio */
    .portfolio {
        padding: 1.5rem 0;
    }
    .portfolio-item {
        width: 100%;
    }
    .portfolio-item-2,
    .portfolio-item-3 {
        position: static;
    }
}