/* Core styles */

body {
    margin: 0px;
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.to-uppercase {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}

.section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0.625rem;
    color: #797979;
    text-transform: uppercase;
}

.section-title {
    margin-top: 0.32rem;
    font-size: 2.625rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364D;
}

.button {
    border: none;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.87rem;
    padding: 1.26rem 2.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-position: right center;
}

.blur-line {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 0.32rem;
    width: 80px;
    height: 4px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(4px);
    border-radius: 4px;
}


/* Main header styles */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}

.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    width: 64px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation__item {
    display: inline-block;
    padding: 0.625rem;
}

.main-navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
}

.main-navigation__item a:hover {
    color: #efb6df;
}

.main-navigation__item.active a {
    color: #efb6df;
}


/* Footer section style */

.footer {
    padding: 100px 0;
    margin-top: 50px;
    background-color: #021017;
    text-align: center;
}

.footer__brand img {
    width: 120px;
}

.footer__navigation-items {
    margin-bottom: 50px;
}

.footer__navigation-item {
    display: inline-block;
    padding: 0 10px;
}

.footer__navigation-item a {
    color: white;
    text-decoration: none;
}

.footer__socials {
    list-style: none;
}

.footer__social {
    display: inline-block;
    width: 45px;
    line-height: 45px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 36px;
    color: #05364d;
    font-size: 1rem;
    margin-right: 12px;
}

.footer__social a {
    color: #021017;
}

.footer__social:hover {
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}

.footer__social i:hover {
    color: white;
}

.footer__text {
    color: #797979;
}

@media only screen and (max-width: 991px) {
    .container {
        width: 95%;
    }
    /* navigation  */
    .main-navigation {
        display: none;
    }
    /* footer */
    .footer__navigation {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 92%;
    }
}